.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    background-size: 100%;
    align-items: top;
    
}
.form{
    background-color: rgb(140, 21, 21);
    padding: 20px;
}
